html, body {
  margin: auto;
  min-height: 1000h;
  scroll-behavior: smooth;
}

#pinkgradient {
  height: 2000vh;
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(270deg, hsla(0, 0%, 100%, 1) 17%, hsla(327, 89%, 71%, 1) 97%);
  background: -moz-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 17%, hsla(327, 89%, 71%, 1) 97%);
  background: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 17%, hsla(327, 89%, 71%, 1) 97%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#F774BB", GradientType=1 );
}

#pregradient {
  height: 3400vh;
  background: hsla(52, 97%, 52%, 1);
  background: linear-gradient(90deg, hsla(52, 97%, 52%, 1) 17%, hsla(327, 89%, 71%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(52, 97%, 52%, 1) 17%, hsla(327, 89%, 71%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(52, 97%, 52%, 1) 17%, hsla(327, 89%, 71%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBDA0C", endColorstr="#F774BB", GradientType=1 );
}

#gradient {
  height: 3400vh;
  background: hsla(55, 90%, 67%, 1);
  background: linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(55, 90%, 67%, 1) 0%, hsla(173, 87%, 59%, 1) 50%, hsla(327, 89%, 71%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7EA60", endColorstr="#3CF2DE", GradientType=1 );
}

#postgradient {
  height:3400vh;
  background: hsla(210, 100%, 34%, 1);
  background: linear-gradient(90deg, hsla(210, 100%, 34%, 1) 0%, hsla(251, 31%, 49%, 1) 28%, hsla(327, 89%, 71%, 1) 61%, hsla(52, 97%, 52%, 1) 87%);
  background: -moz-linear-gradient(90deg, hsla(210, 100%, 34%, 1) 0%, hsla(251, 31%, 49%, 1) 28%, hsla(327, 89%, 71%, 1) 61%, hsla(52, 97%, 52%, 1) 87%);
  background: -webkit-linear-gradient(90deg, hsla(210, 100%, 34%, 1) 0%, hsla(251, 31%, 49%, 1) 28%, hsla(327, 89%, 71%, 1) 61%, hsla(52, 97%, 52%, 1) 87%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0057AD", endColorstr="#6556A5", GradientType=1 );
  }

#endgradient {
  height: 2000vh;
  background: hsla(210, 100%, 34%, 1);
  background: linear-gradient(270deg, hsla(210, 100%, 34%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(210, 100%, 34%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(210, 100%, 34%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0057AD", endColorstr="#ffffff", GradientType=1 );
  }

#title1 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#title2 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  margin-bottom:50px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#title3 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#title4 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#title5 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#title6 {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#IMEAIntro {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 600px;
  color: black;
  font-size: 30px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#MainImage {
  width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}

#WarehouseQuestion {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  color: black;
  font-size: 30px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  background-color: white;
}

#IMEAChoiceA {
  text-align: center;
  width:100%;
  position: relative;
  top: 5px;
  color: black;
  font-size: 25px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  word-wrap: break-word;
}

#IMEAChoiceB {
  text-align: center;
  width:100%;
  position: relative;
  top: 20px;
  margin-bottom: 600px;
  color: black;
  font-size: 25px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#IMEAList1 {
  text-align: center;
  width:100%;
  position: relative;
  top: 7px;
  padding: 4px;
  color: black;
  font-size: 25px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
  word-wrap: break-word;
}

#IMEAList2 {
  text-align: center;
  width:100%;
  position: relative;
  top: 7px;
  margin-bottom: 600px;
  color: black;
  font-size: 25px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Return {
  text-align: right;
  width: 100%;
  position: relative; 
  top: 50px;
  right: 53px;
  margin-bottom: 600px;
  color: black;
  font-size: 25px;
  font-family: Inknut Antiqua;
  font-weight: 400;
  word-wrap: break-word;
}

#Premium {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Cool {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Preppy {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Modest {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Retro {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Modern {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Trendy {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

#Timeless {
  text-align: center;
  width:100%;
  position: relative;
  margin-top: 100px;
  color: black;
  font-size: 42px;
  font-family: Inknut Antiqua;
  font-weight: 400; 
}

a {
  text-decoration: none;
}
