html, body {
	margin: auto;
	min-height: 500h;
}

#body1check, #body2check, #body3check, #body4check, #body5check, #body6check, #body7check, #body8check {
  display: none;
}

#greenhouse {
  background-image: url(greenhouse.jpg);
  background-size: cover;
	width: 100vw; 
	height: 100vh; 
	left: 0px; 
	top: 0px; 
	position: fixed;
}

#blackbox {
	width: 311px; 
	height: 36px; 
  position: relative;
  margin: 150px auto 0 auto;
	background: black;
}

#titletext {
	text-align: center; 
	color: white; 
	font-size: 25px; 
	font-family: Inknut Antiqua; 
	font-weight: 400; 
  word-wrap: break-word;
}

#caterpillarwrapper {
  position: relative;
  margin: 200px auto 0 auto;
  width: 60%;
  max-width: 1000px;
}

#body1 {
	float:left;
  margin: 0 0 0 0;
}
#body2 {
  opacity: 0;
	float:left;
  width: 111px; 
	height: 122px; 
  margin: 90px 0 0 -30px;
  transition: .5s;
}
#body3 {
  opacity: 0;
	float:left;
  width: 111px; 
	height: 122px; 
	margin: 45px 0 0 -13px;
  transition: .5s;
}
#body4 {
  opacity: 0;
  float:left;
	width: 111px; 
	height: 122px; 
	margin: 85px 0 0 -13px;
  transition: .5s;
}
#body5 {
  opacity: 0;
  float:left;
	width: 110px; 
	height: 126px; 
	margin: 55px 0 0 -6px;
  transition: .5s;
}
#body6 {
  opacity: 0;
  float:left;
	width: 111px; 
	height: 132px; 
	margin: 25px 0 0 -6px;
  transition: .5s;
}
#body7 {
  opacity: 0;
  float:left;
	width: 111px; 
	height: 130px; 
	margin: 78px 0 0 -16px;
  transition: .5s;
}
#body8 {
  opacity: 0;
  float:left;
	width: 137px; 
	height: 157px; 
  margin: 24px 0 0 -7px;
  transition: .5s;
}

#body1check:checked ~ #caterpillarwrapper > label > #body2 {
  opacity: 1;
}
#body2check:checked ~ #caterpillarwrapper > label > #body3 {
  opacity: 1;
}

#body3check:checked ~ #caterpillarwrapper > label > #body4 {
  opacity: 1;
}

#body4check:checked ~ #caterpillarwrapper > label > #body5 {
  opacity: 1;
}

#body5check:checked ~ #caterpillarwrapper > label > #body6 {
  opacity: 1;
}

#body6check:checked ~ #caterpillarwrapper > label > #body7 {
  opacity: 1;
}

#body7check:checked ~ #caterpillarwrapper > label > #body8 {
  opacity: 1;
}

/* Viewport Sizes */
@media only screen and (max-width: 1000px) {
  #caterpillarwrapper {
    transform: rotate(90deg); 
    margin: 450px auto 0 auto;
    text-align: center; 
    width: 120%;
    max-width: 1000px;
  }
}

@media only screen and (max-width: 600px) {
  #caterpillarwrapper {
    transform: rotate(90deg);
    margin: 450px auto 0 auto; 
    text-align: center; 
    width: 150%;
  }
}

@media only screen and (max-width: 400px) {
  #caterpillarwrapper {
    transform: rotate(90deg);
    margin: 450px auto 0 auto; 
    text-align: center; 
    width: 200%;
  }
}