@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&display=swap');

html,
body {
  margin: 0;
  background-color: #f6f1db;
}

#houseback {
  margin-top: 30vh;
  width: 37vw;
  height: 55vw;
  position: absolute;
  right: 7.5vw;
}

#housebackimg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#windowwrapper {
  margin: auto;
  padding: 30% 15%;
  width: 70%;
  height: 100%;
}

.windows {
  position: relative;
  float: left;
  /*  on all sides, so 2.5 + 2.5 + 20 = 25% - each window and its margins together are a quarter of the #windowwrapper width  */
  margin: 2.5%;
  width: 20%;
  height: 6.2vw; /* magic number to maintain image proportions */
  background-position: 0px 0px;
  background-size: 200%;
  background-repeat: no-repeat;
}

.windows:hover {
  cursor: pointer;
  background-position: 100% 0px;
}

.windowsplain {
    position: relative;
    float: left;
    /*  on all sides, so 2.5 + 2.5 + 20 = 25% - each window and its margins together are a quarter of the #windowwrapper width  */
    margin: 2.5%;
    width: 20%;
    height: 6.2vw; /* magic number to maintain image proportions */
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

#window1 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitchlead.png");
}

#window2 {
    background-image: url("window2s.png");
  }

#window3 {
    background-image: url("https://yfrej.github.io/portfolionew/window3s.png");
  }

#window4 {
  background-image: url("https://yfrej.github.io/portfolionew/window4switchs.png");
}

#window5 {
  background-image: url("https://yfrej.github.io/portfolionew/fifthwindowswitch.png");
}

#window6 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch6s.png");
}

#window7 {
    background-image: url("https://yfrej.github.io/portfolionew/window7s.png")
}

#window8 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch8s.png");
}

#window9 {
  background-image: url("https://yfrej.github.io/portfolionew/window9switchs.png");
}

#window10 {
    background-image: url("https://yfrej.github.io/portfolionew/window10s.png")
}

#windowswitch11s {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch11s.png");
}

#window12 {
    background-image: url("https://yfrej.github.io/portfolionew/window12s.png");
  }

#window13 {
    background-image: url("windows13s.png");
  }

#window14 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch14s.png");
}

#window15 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch15s.png");
}

#window16 {
  background-image: url("https://yfrej.github.io/portfolionew/windowswitch16s.png");
}

#window17 {
    background-image: url("https://yfrej.github.io/portfolionew/windows17s.png");
  }

  #window18 {
    background-image: url("https://yfrej.github.io/portfolionew/window18s.png");
  }

#door {
  position: absolute;
  width: 15%;
  height: 9.4vw; /*  magic number based on proportions of image  */
  right: 12.2vw;
  bottom: 9.3vw;
}

#door img {
  width: 100%;
  height: auto;
}

#ProjectDescription {
  left: 10vw;
  top: 49vh;
  max-width: 40vw;
  position: absolute;
  color: black;
  font-size: 1.2vw;
  font-family: Inknut Antiqua;
  font-weight: 300;
  word-wrap: break-word;
}

#Timeline {
  left: 10vw;
  top: 43vh;
  position: absolute;
  color: black;
  font-size: 1.3vw;
  font-family: Inknut Antiqua;
  font-weight: 550;
  word-wrap: break-word;
}

#ProjectTitle {
  left: 10vw;
  top: 30vh;
  position: absolute;
  color: black;
  font-size: 2.3vw;
  font-family: Inknut Antiqua;
  font-weight: 600;
}

#KeepHunting {
  width: 10vw;
  right: 10vw;
  top: 79vh;
  position: absolute;
  text-align: right;
  color: black;
  font-size: 2.5vh;
  font-family: Inknut Antiqua;
  font-weight: 600;
}

#Project4Window {
  width: 40vw;
  height: 397px;
  right: 10vw;
  top: 12vw;
  position: absolute;
}

#Project4Window img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

#JsClockWindow {
  bottom: 10vh;
  width: 30vw;
  height: 20vh;
  right: 10vw;
  position: absolute;
}

#JsClockWindow img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

#JsKeepHunting {
  width: 10vw;
  right: 10vw;
  bottom: 6vh;
  position: absolute;
  text-align: right;
  color: black;
  font-size: 2.5vh;
  font-family: Inknut Antiqua;
  font-weight: 600;
}

#YamilaFrej {
  width: 16vw;
  left: 18vw;
  top: 50vh;
  position: absolute;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

#YamilaFrej img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

#about {
  width: 4vw;
  left: 60vw;
  top: 5vh;
}

#contact {
  width: 4vw;
  left: 71.2vw;
  top: 5vh;  
}

#resume {
  width: 4vw;
  left: 82vw;
  top: 5vh;
}

.links {
  cursor: pointer;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 1.3vw;
  font-family: Inknut Antiqua;
  font-weight: 600;
}

.links:hover {
  color: #74a3a8;
}

@media only screen and (max-width: 600px) {
  .links {
    font-size: 10px;
  }
  #houseback {
    margin-top: 10vh;
    right: 0;
    width: 100%;
    height: 145vw;
  }
  .windows {
    height: 15vw;
/*   new magic number since new relative proportions   */
  }
  
  #door {
    bottom: 37vw;
    right: 33%;
  }
  
  #YamilaFrej {
    top: 100px;
  }
}
